
<script>
      function sortTable(n) {
        var table, rows, switches, i, x, y, startswitch, dir, count = 0;
        table = document.getElementById("myTable");
        switches = true;
        dir = "asc"; 
        while (switches) {
          //start by saying: no switches is done:
          switches = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switches:
            startswitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                startswitch= true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                startswitch = true;
                break;
              }
            }
          }
          if (startswitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switches = true;
            //Each time a switch is done, increase this count by 1:
            count ++;      
          } else {
            /*If no switches has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (count == 0 && dir == "asc") {
              dir = "desc";
              switches = true;
            }
          }
        }
      }
      </script>
      
  <table  id="myTable">
        <tr>
              <th (click)='sortTable(0)'>Employee ID</th>
              <th (click)="sortTable(1)" >First Name</th>
              <th (click)="sortTable(2)">Last Name</th>
              <th (click)="sortTable(3)">Age</th>
              <th (click)="sortTable(4)">City</th>
              <th>&nbsp;</th>
        </tr>
        <tr *ngFor="let item of tabledata">
            <td>{{ item.Empid }}</td>
            <td>{{ item.Fname }}</td>
            <td>{{ item.Lname }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.city }}</td>
            <td>
                  <button (click)="update(item)">Edit User</button>
                  &nbsp;
                  <button (click)="delete(item.Empid,item.Fname,item.Lname,item.age,item.city)" class="danger" >X</button>
            </td>
        </tr>
  </table>
  <button (click)="insert()">Add User</button>

  <router-outlet></router-outlet>
  <app-formdetail class="model" [hidden]="!displayForm" (ToggleEvent)="toggle($event)" (Emitevent)="emitdatahandler($event)"  > 
   
  </app-formdetail>
  