h2 
{     
      width: 100%;
      border: 1px solid rgb(53, 52, 52);
      margin: 0px;
      padding: 5px;
}
h1 
{     
      width: 100%;
      border: 2px solid rgb(53, 52, 52);
      margin: 0px;
      padding: 5px;
}
h3 
{     
      width: 100%;
      border: 3px solid rgb(53, 52, 52);
      margin: 0px;
      padding: 5px;
}